    label{
        color : #335017;
    }
    .item{
        color : #335017;
    }
    .daemoon_font{
        display: inline;
    }

    #td1 { font-size:12px;}
    #td2 { font-size:12px;}
    #td3 { font-size:12px;}
    #td4 { font-size:12px;}
    #reviews-box{font-size:17px;}
    #resultCopy { text-align: right; }

    .myButtonAdd {
        box-shadow:inset 0px 1px 0px 0px #97c4fe;
        background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
        background-color:#3d94f6;
        border-radius:6px;
        border:1px solid #337fed;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:8px 10px;
        margin: auto;
        text-decoration:none;
        text-shadow:0px 1px 0px #1570cd;
    }
    .myButtonAdd:hover {
        background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color:#1e62d0;
    }
    .myButtonAdd:active {
        position:relative;
        top:1px;
    }
    .myButtonDelDB {
        box-shadow:inset 0px 1px 0px 0px #cf866c;
        background:linear-gradient(to bottom, #ff3700 5%, #bc3315 100%);
        background-color:#ff3700;
        border-radius:6px;
        border:1px solid #942911;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:8px 10px;
        margin: auto;
        text-decoration:none;
        text-shadow:0px 1px 0px #854629;
    }
    .myButtonDelDB:hover {
        background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
        background-color:#bc3315;
    }
    .myButtonDelDB:active {
        position:relative;
        top:1px;
    }

    .myButtonEtc {
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:linear-gradient(to bottom, #fffcff 5%, #f2e4f2 100%);
        background-color:#fffcff;
        border-radius:6px;
        border:1px solid #5c4f5c;
        display:inline-block;
        cursor:pointer;
        color:#4d384d;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        margin: auto;
        padding:8px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
    }
    .myButtonEtc:hover {
        background:linear-gradient(to bottom, #f2e4f2 5%, #fffcff 100%);
        background-color:#f2e4f2;
    }
    .myButtonEtc:active {
        position:relative;
        top:1px;
    }
    .myButtonCGroup{
        box-shadow:inset 0px 1px 0px 0px #97c4fe;
        background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
        background-color:#3d94f6;
        border-radius:6px;
        border:1px solid #337fed;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:10px;
        font-weight:bold;
        padding:2px 8px;
        text-decoration:none;
        text-shadow:0px 1px 0px #1570cd;
    }
    .myButtonCGroup:hover {
        background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color:#1e62d0;
    }
    .myButtonCGroup:active {
        position:relative;
        top:1px;
    }
    .myButtonMGroup{
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:linear-gradient(to bottom, #fffcff 5%, #f2e4f2 100%);
        background-color:#fffcff;
        border-radius:6px;
        border:1px solid #5c4f5c;
        display:inline-block;
        cursor:pointer;
        color:#828f3e;
        font-family:Arial;
        font-size:10px;
        font-weight:bold;
        padding:2px 8px;
        text-decoration:none;
        text-shadow:0px 1px 0px #000000;
    }
    .myButtonMGroup:hover {
        background:linear-gradient(to bottom, #f2e4f2 5%, #fffcff 100%);
        background-color:#f2e4f2;
    }
    .myButtonMGroup:active {
        position:relative;
        top:1px;
    }
    .myButtonDGroup {
        box-shadow:inset 0px 1px 0px 0px #f5978e;
        background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
        background-color:#f24537;
        border-radius:6px;
        border:1px solid #d02718;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:10px;
        font-weight:bold;
        padding:2px 8px;
        text-decoration:none;
        text-shadow:0px 1px 0px #810e05;
    }
    .myButtonDGroup:hover {
        background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
        background-color:#c62d1f;
    }
    .myButtonDGroup:active {
        position:relative;
        top:1px;
    }
    .jb-medium { font-size: x-small; }

    .flx{
        display : flex;
        justify-content: space-between;
    }
    .p4{
        padding : 1.5rem!important;
    }
    .thz{
        z-index: 3;
        border-top: 0px solid #dee2e6;
        color : white;
    }
    .tdz{
        z-index: -3;
        color: white;
    }
    .td {
        color: white;
    }
    .c {
        word-break: break-all;
        word-wrap: normal;
    }
    input[id="sideButton"] {right : -20px; display:none;}
    input[id="sideButton"] + ul {z-index:8;display:block;position:fixed;right:-20px;top:70%;transform:translateY(-50%);transition:all .35s;text-align:right;}
    input[id="sideButton"] + ul :hover{right:20px;}
    input[id="sideButton"] + ul > li {display:block;width:50px;height:50px;border:1px solid #565656;position:relative;margin-top:-1px;}
    input[id="sideButton"] + ul > li > a {display:block;width:auto;height:50px;overflow:hidden;transition:all .35s;}
    input[id="sideButton"] + ul > li > label {display:block;cursor:pointer;width:auto;height:50px;background:#343a40;}
    input[id="sideButton"] + ul > li:nth-child(1) label span {display:block;position:absolute;width:50%;height:3px;border-radius:30px;background:#e9e9e9;transition:all .35s;}
    input[id="sideButton"] + ul > li:nth-child(1) label span:nth-child(1) {top:30%;left:50%;transform:translateX(-50%);}
    input[id="sideButton"] + ul > li:nth-child(1) label span:nth-child(2) {top:50%;left:50%;transform:translate(-50%,-50%);}
    input[id="sideButton"] + ul > li:nth-child(1) label span:nth-child(3) {bottom:30%;left:50%;transform:translateX(-50%);}
    input[id="sideButton"]:checked + ul {z-index:10;}
    input[id="sideButton"]:checked + ul > li:nth-child(1) label {z-index:10;left:0px;}
    input[id="sideButton"]:checked + ul > li:nth-child(1) label span:nth-child(1) {top:50%;left:50%;transform:translate(-50%,-50%) rotate(45deg);}
    input[id="sideButton"]:checked + ul > li:nth-child(1) label span:nth-child(2) {opacity:0;}
    input[id="sideButton"]:checked + ul > li:nth-child(1) label span:nth-child(3) {bottom:50%;left:50%;transform:translate(-50%,50%) rotate(-45deg);}
    div[class="sidebar2"] {width:100%; height:100%; background:#343a40; position:fixed;top:0%;right:-100%;z-index:7;transition:all .35s;}
    input[id="sideButton"]:checked + ul + div {right:0px;}

    <!--            input[id="sideButton"] {right : -20px; display:none;}-->
    <!--            input[id="sideButton"] + ul {z-index:8;display:block;position:fixed;right:-20px;top:70%;transform:translateY(-50%);transition:all .35s;text-align:right;}-->
    <!--            input[id="sideButton"] + ul :hover{right:20px;}-->
    <!--            input[id="sideButton"] + ul > li {display:block;width:50px;height:50px;border:1px solid #565656;position:relative;margin-top:-1px;}-->
    <!--            input[id="sideButton"] + ul > li > a {display:block;width:auto;height:50px;overflow:hidden;transition:all .35s;}-->
    <!--            input[id="sideButton"] + ul > li > label {display:block;cursor:pointer;width:auto;height:50px;background:#343a40;}-->
    <!--            input[id="sideButton"] + ul > li:nth-child(1) label span {display:block;position:absolute;width:50%;height:3px;border-radius:30px;background:#e9e9e9;transition:all .35s;}-->
    <!--            input[id="sideButton"] + ul > li:nth-child(1) label span:nth-child(1) {top:30%;left:50%;transform:translateX(-50%);}-->
    <!--            input[id="sideButton"] + ul > li:nth-child(1) label span:nth-child(2) {top:50%;left:50%;transform:translate(-50%,-50%);}-->
    <!--            input[id="sideButton"] + ul > li:nth-child(1) label span:nth-child(3) {bottom:30%;left:50%;transform:translateX(-50%);}-->
    <!--            input[id="sideButton"]:checked + ul {z-index:10;}-->
    <!--            input[id="sideButton"]:checked + ul > li:nth-child(1) label {z-index:10;left:0px;}-->
    <!--            input[id="sideButton"]:checked + ul > li:nth-child(1) label span:nth-child(1) {top:50%;left:50%;transform:translate(-50%,-50%) rotate(45deg);}-->
    <!--            input[id="sideButton"]:checked + ul > li:nth-child(1) label span:nth-child(2) {opacity:0;}-->
    <!--            input[id="sideButton"]:checked + ul > li:nth-child(1) label span:nth-child(3) {bottom:50%;left:50%;transform:translate(-50%,50%) rotate(-45deg);}-->
    <!--            div[class="sidebar2"] {width:100%; height:100%; background:#343a40; position:fixed;top:0%;right:-100%;z-index:7;transition:all .35s;}-->
    <!--            input[id="sideButton"]:checked + ul + div {right:0px;}-->
    input[type='date'] {
        border: none; // 테두리 설정은 본인 맘대로
        position: relative; // 캘린더 아이콘을 클릭해야만 달력이 보이기 때문에 이 영역 자체를 제어하기 위해 설정
        width: 100%;
        padding: 10px;
        background: url(../../../assets/Calendar.svg) no-repeat right 10px center /
        35px auto; // 배경에 커스텀 아이콘을 넣어주자! x축은 오른쪽에서부터 10px 떨어지게 하고, y축은 가운데 정렬하고, width 35px에 height auto라는 크기를 부여한다.
        background-color: #bbbbbb;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        text-align: center;
        font-size: 100%;
        margin-bottom: 20px;
    }

    // 실제 캘린더 아이콘을 클릭하는 영역을 의미하는 선택자
    // 이 영역을 확장해서 input의 어떤 곳을 클릭해도 캘린더를 클릭한 것과 같은 효과를 만들자!
    input[type='date']::-webkit-calendar-picker-indicator {
        position: absolute; // 이를 설정하기 위해 사전에 relative를 설정한 것이다.
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparent; // 배경은 투명하게,
        color: transparent; // 글자도 투명하게! 이 두 설정을 통해 캘린더 아이콘을 사라지게 만든다.
        cursor: pointer;
    }

    // type이 date인 input의 placeholder를 커스텀하기 위한 선택자
    // 기본적으로 type date인 input은 placeholder가 먹히지 않기 때문이다!
    input[type='date']::before {
        content: attr(placeholder); // input 태그의 placeholder라는 속성값을 가져와서 content로 사용한다. 보통은 placeholder보다는 data-placeholder라는 커스텀 속성을 만들어서 사용하시는 것 같다.
        width: 100%;
        height: 100%;
    }

    // input에 어떠한 유효값이 입력된 상태인지 확인하는 선택자
    // 날짜를 선택하면 유효값이 입력된다.
    // 이 속성을 활용하고자 한다면 반드시 태그에 required 속성을 달아줘야한다.
    input[type='date']:valid::before {
        display: none; // 유효값이 입력된 경우 before에 있는 것을 사라지게 한다. 즉, placeholder를 사라지게 한다.
    }