{% extends "base.html" %}
{% block content %}
<html lang="ko">
<head>
    <title>시온 출석 | 출석체크패널</title>
    <script src="static\checkfunctionJs.js"></script>
    <link href="static/check.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<input type="checkbox" id="sideButton">
<ul>
    <li>
        <label for="sideButton">
            <span class="c"></span><span></span><span></span>
        </label>
    </li>
</ul>
<div style="display : flex;  font-size : 20px;flex-direction: column;justify-content: center;align-items: center;" class= "sidebar2">
    <div style="color : white;">시온 출석명단</div>
    <div style="width:90%; height:800px; overflow:auto; border-collapse:collapse; " class="reviews">
        <table width="100%" cellspacing="0" cellpadding="0" class="table">
            <thead class = "thz" style="background-color : #343a40;  position: sticky; top: 0px;">
                <tr style="border-style: hidden;">
                    <th class = "thz" style="text-align : center; width : 10%;" id = "td1" scope="col">년도</th>
                    <th class = "thz" style="text-align : center; width : 10%;" id = "td2" scope="col">날짜</th>
                    <th class = "thz" style="text-align : center; width : 50%;" id = "td3" scope="col">명단</th>
                    <th class = "thz" style="text-align : center; width : 30%;" id = "td4" scope="col">인원</th>
                </tr>
            </thead>
            <tbody class="tdz" id="reviews-box" style="border-style: hidden;">
            </tbody>
        </table>
    </div>
</div>
    <div class="container">

<!--        <input type="checkbox" id="menuicon">-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <label for="menuicon">-->
<!--                        <span style="c"></span><span></span><span></span>-->
<!--                    </label>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <div style="font-size : 20px;" class= "sidebar">-->
<!--                <a style="color : #e9e9e9;" href="/"><img src="/static/image/home.png" width="20px" height ="20px" alt="">홈</a><br>-->
<!--                <a style="color : #e9e9e9;" href="/board"><img src="/static/image/board.png" width="20px" height ="20px" alt="">게시판</a><br>-->
<!--                <a style="color : #e9e9e9;" href="/check"><img src="/static/image/chul.png" width="20px" height ="20px" alt="">출석체크</a><br>-->
<!--            </div>-->
        <div style="text-align : center;" id= userAuth></div>
        <div class = "flx">
            {% if session['username'] %}
            <a>{{ session['username'] }}님 환영합니다</a>
            {% else %}
            <script>
                alert("로그인이 필요한 서비스입니다. 로그인창으로 이동합니다.");
            </script>
            <meta http-equiv="refresh" content="1;url=/account/login">
            {% endif %}
            <div style="display : inline;">
                <span id="clock" style="color:gray;">clock</span>
                <span id="apm" style="color:gray;"  >ampm</span>
            </div>
        </div>
        <br>
        <div style="text-align : center;" id = "daemoon_font">
            <img  src="/static/image/icon2.png" width="24px" height ="24px" alt="시온청년부">
            <h3 style="display : inline;"> 시온청년부 출석체크사이트</h3>
        </div>
        <br>
<!--        <A style="POSITION: fixed; MARGIN-LEFT: 650px; TOP: 170px; LEFT: 53%;">-->
<!--            <table style="border:0px; width:100px;">-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <a href="#" id = "b1" class="myButtonAdd" onclick='getDb()' >명단저장</a><br>-->
<!--                        <a href="#" id = "b2" class= "myButtonAdd" onclick='getCheckAddPerson()' >인원추가</a><br>-->
<!--                        <a href="#" id = "b3" class= "myButtonDelDB" onclick='getCheckDelPerson()'>인원삭제</a><br>-->
<!--                        <a href="#" id = "b4" onclick='getCheckDB()'class="myButtonDelDB">명단삭제</a><br>-->
<!--                        <a href="#" class = "myButtonEtc" onclick="checkCopy()">결과복사</a><br><br><br><br>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </A>-->


        <div>
            <label><input type="checkbox" id = "checkboxDateC" name="checkboxDate" value="self" onclick="checkboxDateS()"/> 날짜 수동입력</label>
            <p style="font-size : 11px;"> - 날짜 수동입력을 해제할 경우 자동 오늘 날짜를 기준 &nbsp; &nbsp; &nbsp; </p>
        </div>

        <div class="info">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">날짜</span>
                </div>

                <textarea style="resize: none;" class="form-control" id="title"
                          cols="30" disabled
                          rows="1" placeholder="날짜 입력 예) 2022.04.22이면 0422"></textarea>
            </div>
<!--            <div class="input-group mb-3" style=" display : none;">-->
<!--                <div class="input-group-prepend">-->
<!--                    <span class="input-group-text">새로온 사람</span>-->
<!--                </div>-->
<!--                <textarea class="form-control" id="new"-->
<!--                          cols="30"-->
<!--                          rows="1" placeholder="새로온 사람 또는 아래 명단에 없는 사람, 혹은 해당 날짜의 값을 변경하기위해 입력"></textarea>-->
<!--            </div>-->
            <div>
<!--                <a href=#none id="showInfo" onclick="if(hideInfo.style.display=='none') {hideInfo.style.display='';showInfo.innerText='▲접기'} else {hideInfo.style.display='none';showInfo.innerText='▶사용방법 및 추가사항'}">▶사용방법 및 추가사항</a>-->
<!--                <div id="hideInfo" style="display: none">-->
                    <a href='https://docs.google.com/presentation/d/1KIz5pJgJ1gRR-rnpMhGqqA3Ioxv3JqQe/edit#slide=id.p1'
                    target='_blank'> ▶사이트 안내서
                    </a>
<!--                </div>-->
            </div>
            <br>
            <div>
                <a href=# id="showDBPanel" onclick="if(hideDBPanel.style.display=='none') {hideDBPanel.style.display='';showDBPanel.innerText='▲_접기'} else {hideDBPanel.style.display='none';showDBPanel.innerText='▶DB관리패널'}">▶DB관리패널</a>
                <div id="hideDBPanel" style="display: none">
                    <a href=# id="showGroupPanel" onclick="if(hideGroupPanel.style.display=='none') {hideGroupPanel.style.display='';showGroupPanel.innerText='▲__접기'} else {hideGroupPanel.style.display='none';showGroupPanel.innerText='▶_GroupDB관리'}">▶_GroupDB관리</a>
                    <div id="hideGroupPanel" style="display: none">
                            <div>
                                <br style="height : 50%">
                                <p>※ 조 구성 변경</p>
				<br><p>밑줄을 제외한 특수기호사용은 지양해주세요!</p>
				<p>특수기용 사용예시- 김00이 리더일 경우</p>
				<p>일꾼조_00</p>
                                <div id="txtPanelAddGroup"></div>
                                <a href="#" class= "myButtonCGroup" onclick="setGroup()">그룹구성변경</a><br>
                                <hr style="border: solid 2px brown;">
                                <p>※ 선택한 인원의 조 변경(※복수선택가능) : <select id ="textGroup"></select></p>
                                <a href="#" class= "myButtonCGroup" onclick="changeGroup()">변경하기</a><br>
                                <hr style="border: solid 2px brown;">
                                <br>
                            </div>
                    </div><br>
                    <a href=# id="showPeoplePanel" onclick="if(hidePeoplePanel.style.display=='none') {hidePeoplePanel.style.display='';showPeoplePanel.innerText='▲__접기'} else {hidePeoplePanel.style.display='none';showPeoplePanel.innerText='▶_PeopleDB관리'}">▶_PeopleDB관리</a>
                    <div id="hidePeoplePanel" style="display: none">
                        <div>
                            <br>
                            <p>※ 인원DB 추가 및 관리</p>
                            <p>1. 하단의 정보표시 및 변경 버튼을 눌러 화면에 표시된 칸에 알맞은 값을 넣어 인원 저장</p>
                            <p>2. 중복이름시 이름 뒤 알파벳를 추가표기하여 저장바람 예) 홍길동(먼저 있던 사람은 이름변경X) 홍길동B ..., 삭제는 이름, 조를 선택하여 삭제</p>
                            <hr style="border: solid 2px brown;">
                            <p>※ 나이관리패널</p>
                            <button class = "myButtonCGroup float-right" onclick = "ageAdd()" id = "ageAdd">전체 나이증가</button>
                            <button class = "myButtonDGroup float-left" onclick = "ageDown()" id = "ageDown">전체 나이감소</button>
                            <br><br>
                            <hr style="border: solid 2px brown;">
                            <p>※ 다중인원삭제</p>
                            <p>하단 모든 체크박스에서 삭제하고자는 인원을 다중선택하여 삭제가능</p>
                            <div style="display : flex;">
                                <a href='#' style="margin : auto"  class= 'myButtonDGroup' onclick='delMultiPeopleDB()'>다중인원삭제</a>
                            </div>
                            <br>
                            <hr style="border: solid 2px brown;">
                        </div>
                    </div>
                </div>
            </div>
            {% if session['username'] == 'test' %}
                <br>
            {% endif %}
            <br>
            <div style="text-align : left;">
                <label><input type="radio" name="infoSelect" id="radioShowInfoO" onclick="displayPeopleInfo()" value="0">정보표시 및 변경</label>
                <label><input type="radio" name="infoSelect" id="radioShowInfoX" onclick="displayPeopleInfo()" value="1" checked="checked">닫기</label></div>
            <div style="display : none; flex-wrap: wrap; border: 3px solid black; border-radius: 10px;justify-content: center;" id = "resultCheckbox">

                <div class="p4" style="display: flex;flex-direction: column;align-items: stretch;">
                    <div><p>&nbsp&nbsp&nbsp※ 하단 체크박스명단에서 선택가능합니다.</p>
                        <div>&nbsp&nbsp&nbsp이름 : <input style="width : 60%" id= "textManagePeople" type="text" placeholder="이름" maxlength="6"></div>
                        <div>&nbsp&nbsp&nbsp나이 : <input style="width : 20%" id= "textManagePeopleAge" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="숫자" maxlength="2" max = "30" min ="18"></div>
                        <div>&nbsp&nbsp&nbsp조  : <select id ="textAddPeopleGroup"></select></div>
                        <div>&nbsp&nbsp&nbsp성별 : <label><input type="radio" name="sSelect" id="radioMan" value="남"> 남</label>
                        <label><input type="radio" name="sSelect" id="radioGirl" value="여"> 여</label></div>
                    </div>
                    <div>&nbsp&nbsp&nbsp특이사항 : <input style="width : 70%; text-align : left; display : nowrap;" id= "textManagePeopleInfo" type="text" maxlength="50" placeholder="특이사항" size="20"></div>
                    <p style="white-space : wrap; word-break: keep-all;">&nbsp&nbsp※ DB변경시 자동 새로고침으로 체크된 인원이 초기화됩니다.</p>
                    <div style="display : flex; margin-top : auto; text-align : center;flex-direction: row; align-items: stretch; line-height:50%; justify-content: space-between;">
                        <a href="#" style="width : 100%; height : 135%;" class= "myButtonCGroup" onclick="insertPeopleDB()">추가</a><br>
                        <a href="#" style="width : 100%; height : 135%;" class= "myButtonMGroup" onclick="replacePeopleDB()">변경</a><br>
                        <a href="#" style="width : 100%; height : 135%;" class= "myButtonDGroup" onclick="deletePeopleDB()">삭제</a>
                    </div>

                </div>

            </div>
            <!-- 체크박스 --><hr>
                <div style="background-color : #389739a3;  outline : solid 15px #9b574d; " id="txtPanelAddCheckbox"></div>
                <hr>
                <div id="txtPanelAddNotGroupSet"></div>
                <hr style="border: solid 2px brown;">
                <div class="input-group-prepend">
                    <a href="#" class="myButtonAdd" onclick='getDb()' >명단저장</a>
                    <a href="#" class= "myButtonAdd" onclick='getCheckAddPerson()' >인원추가</a>
                    <a href="#" class= "myButtonDelDB" onclick='getCheckDelPerson()'>인원삭제</a>
                    <a href="#" onclick='getCheckDB()'class="myButtonDelDB">명단삭제</a>
                </div>
                <hr style="border: solid 2px brown;">
                <div style="display: flex;">
                    <a href ="#" class = "myButtonEtc" onclick="checkCopy()">결과복사</a>
                    <a href ="/graph" class = "myButtonEtc">그래프</a>
                    <a href ="#" class = "myButtonEtc" onclick="mailBackup()">메일백업</a>
                </div>

                <label id='result'></label>

            </div><br>
<!--        <div style="width:100%; height:800px; overflow:auto; border-collapse:collapse; " class="reviews">-->
<!--            <table width="100%" cellspacing="0" cellpadding="0" class="table">-->
<!--                <thead class = "thz" style="background-color : #ffd8d8; position: sticky; top: 0px;">-->
<!--                <tr>-->
<!--                    <th class = "thz" style="text-align : center; width : 10%;" id = "td1" scope="col">년도</th>-->
<!--                    <th class = "thz" style="text-align : center; width : 10%;" id = "td2" scope="col">날짜</th>-->
<!--                    <th class = "thz" style="text-align : center; width : 50%;" id = "td3" scope="col">명단</th>-->
<!--                    <th class = "thz" style="text-align : center; width : 30%;" id = "td4" scope="col">인원</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody class="tdz" id="reviews-box">-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
        </div>
        <br>
        <hr>
        <div style="text-align : center; font-size : 6px; font-color : gray;">
            <p>진주교회비전관 경남 진주시 의곡길16번길 15-1 (지번) 봉래동 189-9</p>
            <p>made by ksh</p>
        </div>


     <script>
            var Target = document.getElementById("clock");
            var Target_apm = document.getElementById("apm");
            function clock() {
                var time = new Date();
                var hours = time.getHours();
                var minutes = time.getMinutes();
                var seconds = time.getSeconds();
                var AmPm ="AM";
                if(hours > 12){
                    var AmPm ="PM";
                    hours %= 12;
                }

                Target.innerText = `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;
                Target_apm.innerText = `${AmPm}`;
            }
            clock();
            setInterval(clock, 1000); // 1초마다 실행
            </script>

    </body>
</html>
{% endblock %}
