<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>시온 출석 | 대문</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="static/jquery.touchSlider.js"></script>
    <script src="static/indexFJS.js"></script>
    <link rel="stylesheet" href="common.css">
    <link href="static/index.css" rel="stylesheet" type="text/css"/>

</head>
<body>
    <div style="text-align : center;">
        <span id="clock" style="color:gray;">clock</span>
        <span id="apm" style="color:gray;"  >ampm</span>
    </div>
    <br>
    <br>
    <div style="text-align : center; display : flex;justify-content: center;">
        <img src="/static/image/icon2.png" width="24px" height ="24px" alt="시온청년부">
        <h3 style="display : inline; font-size : 24px;"> 시온청년부 출석체크사이트</h3>
    </div>
    {% if session['username'] %}
    <div class ="container">
        <div style="text-align : center;" id= userAuth></div>
        <br>
            <div style="text-align: center;"><a class = "snip1535" href="{{ url_for('check') }}" >>> 출석체크 <<</a></div>
            <div style="display : none; text-align: center;"><a class = "snip1535" href="{{ url_for('board') }}" >>> 자유게시판 <<</a></div>
            <div style="text-align: center;"><a class = "snip1535" href="{{ url_for('missions') }}" >>> 선교팀 <<</a></div>
        {% if session['username'] == 'test' %}
            <div style="text-align: center;"><a class = "snip1535" href="{{ url_for('development') }}" >>> 유튜브 <<</a></div>
        {% endif %}
        <p style="text-align : center; font-size : 8px; color : #a9a9a9">환영합니다</p>
        <p style="text-align : center; font-size : 8px; color : #a9a9a9"> made by ksh </p>
    </div>
    {% else %}
    <div>
        <br>
        <p style="text-align : center;"> 서비스 이용에는 로그인이 필요합니다.</p>
        <form class = "text-center">
            <a class = "snip1535" href="{{ url_for('account.login') }}">>> 로그인 <<</a>
            <div style="text-align: center;"><a class = "snip1535" href="{{ url_for('kakao') }}" >>> qr출석체크 <<</a></div>
        </form>
        <br>
    </div>
    {% endif %}
<!--    <div class="w3-content" style="opacity : 100%; max-width:90%; display : flex; align-items: center; flex-direction: column; margin: auto;">-->
<!--      <img class="mySlides" src="/static/image/04.jpg" style="width:90%; margin : auto; border : outset;">-->
<!--      <img class="mySlides" src="/static/image/05.jpg" style="width:90%; margin : auto; display : none;">-->
<!--      <img class="mySlides" src="/static/image/06.jpg" style="width:90%; margin : auto; display : none;">-->
<!--      <img class="mySlides" src="/static/image/07.jpg" style="width:90%; margin : auto; display : none;">-->
<!--      <img class="mySlides" src="/static/image/08.jpg" style="width:90%; margin : auto; display : none;">-->
<!--      <img class="mySlides" src="/static/image/09.jpg" style="width:90%; margin : auto; display : none;">-->
<!--    </div>-->
<!--    <div style="display : block;">-->
<!--        <div class="w3-row-padding w3-section" style="display : flex; flex-direction: row;">-->
<!--        <div class="img1 w3-col s4" onclick="currentDiv(1)" style="cursor:pointer; display : flex; justify-content: center;">-->
<!--          <img class="demo w3-border w3-hover-shadow" style="width : 33%;"-->
<!--          src="/static/image/04.jpg">-->
<!--        </div>-->
<!--        <div class="img1 w3-col s4" onclick="currentDiv(2)" style="cursor:pointer; opacity : 70%; display : flex; justify-content: center;">-->
<!--          <img class="demo w3-border w3-hover-shadow" style="width : 33%;"-->
<!--          src="/static/image/05.jpg" >-->
<!--        </div>-->
<!--        <div class="img1 w3-col s4" onclick="currentDiv(3)" style="cursor:pointer; opacity : 70%; display : flex; justify-content: center;">-->
<!--          <img class="demo w3-border w3-hover-shadow" style="width : 33%;"-->
<!--          src="/static/image/06.jpg" >-->
<!--        </div>-->
<!--        <div class="img1 w3-col s4" onclick="currentDiv(4)" style="cursor:pointer; opacity : 70%; display : flex; justify-content: center;">-->
<!--          <img class="demo w3-border w3-hover-shadow" style="width : 33%;"-->
<!--          src="/static/image/07.jpg" >-->
<!--        </div>-->
<!--        <div class="img1 w3-col s4" onclick="currentDiv(5)" style="cursor:pointer; opacity : 70%; display : flex; justify-content: center;">-->
<!--          <img class="demo w3-border w3-hover-shadow" style="width : 33%;"-->
<!--          src="/static/image/08.jpg" >-->
<!--        </div>-->
<!--        <div class="img1 w3-col s4" onclick="currentDiv(6)" style="cursor:pointer; opacity : 70%; display : flex; justify-content: center;">-->
<!--          <img class="demo w3-border w3-hover-shadow" style="width : 33%;"-->
<!--          src="/static/image/09.jpg" >-->
<!--        </div>-->
<!--    </div>-->
    <div>
        <div style="text-align : center;">
            <img src = '/static/image/git.png' width="10px;">
            <a href="https://github.com/xkzldks/zion_flask">
                xkzldks_github
            </a>
        </div>
        <div style="text-align : center;">
            <img src = '/static/image/cloudtype.png' width="55px;">
            <a href="https://app.cloudtype.io/@naochugu/ziona">
                xkzldks_cloudtype
            </a>
        </div>
    </div>
    <br>


    <!--<hr class='hr-dashed'/>-->
     <div style="display : flex;">
     <!-- * 카카오맵 - 지도퍼가기 -->
        <!-- 1. 지도 노드 -->
        <div style=" width: 70%; margin-left : auto; margin-right : auto;" id="daumRoughmapContainer1659971295506" class="root_daum_roughmap root_daum_roughmap_landing"></div>

        <!--
        2. 설치 스크립트
        * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
        -->
        <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

        <!-- 3. 실행 스크립트 -->
        <script charset="UTF-8">
        new daum.roughmap.Lander({
            "timestamp" : "1659971295506",
            "key" : "2bb5a",
            "mapHeight" : "600"
        }).render();
        </script>
    </div>
    <br>
    <!--<div id="touchSlider" style="height: 550px;">-->
    <!--	<ul style="max-width:90%; overflow: visible; transition: all 150ms ease 0s; transform: translate3d(0px, 0px, 0px);">-->
    <!--		<li aria-hidden="false" style="float: none; position: absolute; top: 0px; width: 730px; left: 0px; opacity: 1; transition: none 0s ease 0s; transform: translate3d(0px, 0px, 0px);">-->
    <!--			<img class="mySlides" src="/static/image/04.jpg" style="width:90%; maring : auto; border : outset;">-->
    <!--		</li>-->
    <!--		<li style="background: rgb(51, 153, 102); float: none; position: absolute; top: 0px; width: 80%; left: 0px; opacity: 1; transition: none 0s ease 0s; transform: translate3d(730px, 0px, 0px);" aria-hidden="true">-->
    <!--			<img class="mySlides" src="/static/image/05.jpg" style="width:90%; maring : auto; ">-->
    <!--		</li>-->
    <!--		<li style="background: rgb(51, 153, 204); float: none; position: absolute; top: 0px; width: 80%; left: 0px; opacity: 1; transition: none 0s ease 0s; transform: translate3d(1460px, 0px, 0px);" aria-hidden="true">-->
    <!--			<img class="mySlides" src="/static/image/06.jpg" style="width:90%; maring : auto; ">-->
    <!--		</li>-->
    <!--		<li style="background: rgb(51, 51, 204); float: none; position: absolute; top: 0px; width: 80%; left: 0px; opacity: 1; transition: none 0s ease 0s; transform: translate3d(2190px, 0px, 0px);" aria-hidden="true">-->
    <!--			<img class="mySlides" src="/static/image/07.jpg" style="width:90%; maring : auto; ">-->
    <!--		</li>-->
    <!--	</ul>-->
    <!--</div><div class="ts-controls"><div class="ts-paging"><button type="button" class="ts-paging-btn ts-paging-active">page1</button><button type="button" class="ts-paging-btn">page2</button><button type="button" class="ts-paging-btn">page3</button><button type="button" class="ts-paging-btn">page4</button></div><button type="button" class="ts-prev">Prev</button><button type="button" class="ts-next">Next</button></div>-->

    <!--<script>-->
    <!--$('#touchSlider').touchSlider();-->
    <!--</script>-->
        </div>
<script>
        var Target = document.getElementById("clock");
        var Target_apm = document.getElementById("apm");
        function clock() {
            var time = new Date();
            var hours = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();
            var AmPm ="AM";
            if(hours > 12){
                var AmPm ="PM";
                hours %= 12;
            }

            Target.innerText = `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;
            Target_apm.innerText = `${AmPm}`;
        }
        clock();
        setInterval(clock, 1000); // 1초마다 실행


    </script>
</body>

</html>
{% endblock %}

