{% extends "base2.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>시온 출석 | 페이지가 이전되었습니다.</title>
</head>
<body>
<div style="display : flex;flex-direction: column;align-items: center;">
    <br>
    <h1 style="text-align : center;" >페이지가 이전되었습니다.</h1>
    <h1 style="text-align : center;">zion2022.site -> zion2023.site</h1>
    <p style="text-align : center;">바로가기 링크<br><br>↓</p>
    <h2><a class = 'snip1535' href="https://www.zion2023.site" >zion2023.site</a></h2>
</div>

</body>
</html>
{% endblock %}