<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>clock2</title>
</head>
<body>

    <div style="text-align: center;">
        <span id="clock" style="color:gray;">clock</span>
        <span id="apm" style="color:gray;"  >ampm</span>
    </div>
    

    <script>
        var Target = document.getElementById("clock");
        var Target_apm = document.getElementById("apm");
        function clock() {
            var time = new Date();
            var hours = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();
            var AmPm ="AM";
            if(hours > 12){   
                var AmPm ="PM";
                hours %= 12;
            }

            Target.innerText = 
            `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;

            Target_apm.innerText = `${AmPm}`;

        }
        clock();
        setInterval(clock, 1000); // 1초마다 실행
    </script>
</body>
</html>